.sub-header h6 {
    display: flex;
    justify-content: right;
}

.content-box {
    background-color: white;
}

img {
    width: 120px;    
}

.parent-details {
    display: flex;
    width: 60%;
}

.address {
    display: flex;
}
.authentication-details input{
    border-radius: 18px;
}

/* button{
    display: flex;
    justify-content: right;
} */
#disabledText {
    color: red;
  }
#enabledText{
    color: green;
}


