/* .sub-header{
    display: flex;
    justify-content: flex-end;

} */
.parent{
    display: flex;
    flex-direction: column;
}
.child-div{
    /* display: flex; */
}
.parent-list {
    display: flex;
    justify-content: flex-end;
    text-align: right;
}
.parent-list h6{
    margin-right: 15px;
}

.content-box {
    background-color: white;
    border-radius: 10px;
}

img {
    width: 120px;    
}

.parent-details {
    display: flex;
    width: 60%;
}

.address {
    display: flex;
}

.permanent-address{
    margin-right: 100px;
    display: flex;
    flex-direction: column; /* Align items in a column */
    align-items: flex-start; /* Align items to the left */
}
.authentication-details input{
    border-radius: 18px;
}

/* button{
    display: flex;
    justify-content: right;
} */
#disabledText {
    color: red;
  }
#enabledText{
    color: green;
}


