.main-div {
    margin: left 50px;
    ;
}

.parent-head {
    margin-right: 900px;
}

.sub-header {
    display: flex;
}

.parent-list h6 {
    display: flex;
    justify-content: right;
}

.parent-list h6 {
    margin-right: 15px;
}

.parent {
    display: flex;
}

.parent-details {
    display: flex;
}

.content-box {
    background-color: white;
    border-radius: 10px;
}

img {
    width: 120px;
}


.address {
    display: flex;
}

.permanent-address {
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.postal-address {
    margin-right: 200px;
}

#inputbox {
    border-radius: 8px;
    border: none; 
    width: 225px;
    align-content: center;
}

.authentication {
    border-radius: 8px;
    background-color: rgb(228, 218, 231);
    margin-left: 55px;
    width: 300px;
    height: 300px;

}

.buttons {
    display: flex;
    justify-content: right;
}

.cancel {
    background-color: rgb(73, 58, 232);
}

.edit {
    background-color: rgb(52, 149, 240);
}

#disabledText {
    color: red;
}

#enabledText {
    color: green;
}